.about-container {
  margin-top: 3vh;
}

.about-hero {
  width: 12.5vh;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2vh;
  margin: 4vh 10vw;
}

.about-text {
  text-align: center;
}

.about-subtext {
  color: blue;
  text-decoration: none;
}

@media screen and (min-width: 1001px) {
  .about-hero {
    width: 20vh;
  }
  .about-container {
    margin-top: 0vh;
  }

  .about-text-container {
    margin: 4vh 33vw;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .about-hero {
    width: 20vh;
  }

  .about-container {
    margin-top: 0vh;
  }

  .about-text-container {
    margin: 4vh 25vw;
    row-gap: 3vh;
  }
}