.admin-gallery {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2vh;
  margin-bottom: 4vh;
}

.admin-sub-img {
  width: 20vh;
}

.classify-btns {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .admin-sub-img {
    width: 40vh;
  }
}