.logo-container {
  background-color: #f2eee6;
  padding: 2vh 0vh;
  width: 100%;
  margin-top: -10vh;
}

.logo {
  width: 25vh;
  height: 12.5vh;
  margin-top: 10vh;
}

@media screen and (min-width: 1001px) {
  .logo {
    width: 40vh;
    height: 20vh;
  }
  .logo-container {
    width: auto;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .logo-container {
    width: auto;
  }
}