.mascot-bio-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5vh;
}

.mascot-bio-photo {
  width: 60vw;
  max-height: 60vh;
}

.mascot-bio {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  text-align: center;
}

.mascot-bio-group {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
}

@media screen and (min-width: 1001px) {
  .mascot-bio-photo {
    width: 20vw;
    max-height: 60vh;
  }
  .mascot-bio-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20vw;
    column-gap: 5vw;
  }
  .mascot-bio {
    text-align: left;
    row-gap: 5vh;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .mascot-bio-photo {
    width: 20vw;
    max-height: 60vh;
  }
  .mascot-bio-container {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    column-gap: 5vw;
  }
  .mascot-bio {
    text-align: left;
    row-gap: 5vh;
  }
}