.header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
  padding-top: 2vh;
  position: sticky;
  top: 0;
  background-color: #F2EEE6;
  z-index: 100;
  padding-bottom: 3vh;
}

.blank {
  flex-grow: 0.25;
}

.logo {
  font-family: 'Roc Grotesk', sans-serif;
  text-decoration: none;
}

.logo:visited {
  color: black;
}

.logo-text {
  font-family: 'Roc Grotesk', sans-serif;
  color: black;
  margin: 0;
  display: inline-block;
}

.logo-subtext {
  display: block;
  margin-top: -0.7em;
}

@media screen and (min-width: 1200px) {
  .header {
    flex-direction: row;
    padding-top: 5vh;
  }
}
