.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  /* align-items center for a less dramatic bump on active-link */
  align-items: flex-end;
  column-gap: 2vw;
  row-gap: 1vh;
}

.navbar-link {
  text-decoration: none;
}

.link-text:hover {
  color: rgb(0, 0, 255);
}

.navbar-link:visited {
  color: black;
}

.link-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1vh;
}

.active-dot {
  width: 10px;
  height: 10px;
  background-color: #20E700;
  border-radius: 50px;
  display: none;
}

.active-link .active-dot {
  display: block;
}

@media screen and (min-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5vw;
  }
}