.gallery-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  padding: 5vh 10vh 10vh 10vh;
  row-gap: 10vh;
}

.mascot-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) and (orientation: portrait) {
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0vh 2vh;
    row-gap: 1.5vh;
  }
}

/* RANDOM GALLERY STYLES! */

/* .image-container {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll-message {
  height: 5vh;
  font-weight: bold;
}

#scrollableDiv {
  height: 100vh;
  overflow-y: scroll;
}

@media screen and (max-width: 1400px) and (orientation: landscape) {
  #scrollableDiv {
    height: 70vh;
  }
}

@media screen and (min-width: 1401px) {
  #scrollableDiv {
    height: 70vh;
  }
} */
