.custom-cursor {
  position: absolute;
  width: 20px;
  height: 20px;

  /* THERMAL-LIKE COLORS */
  /* background-color: #00a8dd; */
  /* background-color: #ff5722; */
  /* background-color: #39FF14; */
  /* background-color: #00FFFF; */
  /* background-color: #ffa500; */
  /* background-color: #ff00ff; */
  /* background-color: #e6e6fa; */
  /* background-color: #FFFFF0; */
  /* background-color: #00FF00; */
  /* background-color: #FF00FF; */

  /* border: 1.5px solid tan; */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* ensures cursor doesn't interfere with other elements */
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
}
