.mascot-photo {
  width: 10vh;
  height: 10vh;
  transition: filter 0.2s;
  position: absolute;
}

.mascot-photo:hover {
  border-radius: 120px;
  filter: brightness(1.1);
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .mascot-photo {
    width: 15vw;
    height: 15vw;
  }
}


@media screen and (min-width: 1001px) {
  .mascot-photo {
    width: 15vh;
    height: 15vh;
  }
}
