.mascot-photo {
  width: 12.5vh;
  height: 12.5vh;
  transition: filter 0.2s;
}

.mascot-photo:hover {
  border-radius: 120px;
  filter: brightness(1.1);
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .mascot-photo {
    width: 12.5vw;
    height: 12.5vw;
  }
}


@media screen and (min-width: 1001px) {
  .mascot-photo {
    width: 25vh;
    height: 25vh;
  }
}
