@media screen and (max-width: 1000px) and (orientation: portrait) {
  .mobile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: #f2eee6;
  }

  .mobile-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
  }

  .desktop-header {
    display: none;
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
  }

  .loading-message {
    font-size: 5vh;
  }
}

@media screen and (max-width: 1000px) and (orientation: landscape) {
  .mobile-header {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-header {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9998;
    background-color: #f2eee6;
    justify-content: space-around;
    height: 25vh;
  }
  .blank {
    flex-grow: 0.25;
  }
}

@media screen and (min-width: 1001px) {
  .mobile-header {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .desktop-header {
    display: flex;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9998;
    background-color: #f2eee6;
    justify-content: space-around;
    height: 30vh;
  }
  .blank {
    flex-grow: 0.25;
  }
}
