@font-face {
  font-family: 'Roc Grotesk';
  src: url('./fonts/rocgrotesk-black.otf') format('opentype');
}

html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2EEE6;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin-block-end: 0px;
  margin-block-start: 0px;
  cursor: none;
}

* {
  font-weight: normal;
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 5vh;
}

h4 {
  font-size: 4vh;
}

h5 {
  font-size: 3vh;
}

h6 {
  font-size: 2vh;
}

p {
  font-size: 1.5vh;
}

button {
  align-items: center;
}

button:hover {
  border-color: gray;
}

:focus-visible {
  outline: 2px solid rgb(171, 171, 212);
}


@media screen and (max-width: 900px) {
  h1 {
    font-size: 16vw;
  }
  
  h2 {
    font-size: 12vw;
  }
  
  h3 {
    font-size: 10vw;
  }
  
  h4 {
    font-size: 8vw;
  }
  
  h5 {
    font-size: 6vw;
  }
  
  h6 {
    font-size: 4vw;
  }
  
  p {
    font-size: 3vw;
  }
}