.submit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10vh;
  height: 60vh;
}

.submit-form {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
  margin-top: 5vh;
  width: 50%;
}

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #20e700;
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
}

.success-text {
  font-family: 'Roc Grotesk', sans-serif;
  color: black;
  display: inline-block;
  margin-top: 0.4em;
}

.success-subtext {
  display: block;
  margin-top: -0.8em;
}

.success-mark {
  font-family: cursive;
}

.photo-upload-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.photo-upload-container label {
  display: flex;
  width: 100%;
}

/* hide default input appearances */
.photo-upload-container input[type='file'] {
  display: none;
  width: 100%;
}

.photo-upload-container label.changed::before {
  content: 'CHANGE PHOTO';
}

/* style the custom form inputs */
.photo-upload-container label::before {
  content: 'UPLOAD PHOTO';
  font-size: 1.75vh;
  background: none;
  color: black;
  padding: 1.5vh 2vh;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.text-block {
  display: flex;
  flex-direction: column;
  padding: 1.5vh 2vh;
  border: 2px solid gray;
  border-radius: 10px;
  width: 100%;
  box-sizing: border-box;
}

.text-block input[type='text'] {
  border: none;
  outline: none;
  background: none;
  width: 100%;
  font-size: 1.75vh;
  color: black;
}

.text-block input[type='text']::placeholder {
  color: black;
}

.text-block input[type='text']:disabled::placeholder {
  color: gray;
}

.text-block input[type='text']:disabled {
  cursor: not-allowed;
}

.submit-block {
  width: 20vw;
  align-self: center;
}

.submit-btn {
  display: flex;
  border: none;
  background: none;
  font-size: 1.75vh;
  align-self: center;
  cursor: pointer;
}

.submit-btn:disabled {
  cursor: not-allowed;
}

.preview-image {
  width: 20vw;
  max-height: 60vh;
}

.category-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category {
  display: flex;
  align-items: center;
  column-gap: 2vh;
}

.category-selector {
  width: 2vh;
  height: 2vh;
  border-radius: 50px;
  border: 2px solid gray;
  cursor: pointer;
}

.active-selector {
  background-color: #20e700;
}
