.cursor-color-picker-wrapper {
  display: none;
}

@media screen and (min-width: 1001px) and (min-height: 900px) {
  .cursor-color-picker-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
  }
  .cursor-color-picker {
    width: 4vh;
    height: 4vh;
  }
}